
body {
  margin: 0;
}
@font-face {
  font-family: 'BahijRegular';
  src: local('BahijRegular'),
      url('./fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
}
@font-face {
  font-family: 'BahijBold';
  src: local('BahijBold'),
      url('./fonts/Bahij_TheSansArabic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BahijLight';
  src: local('BahijLight'),
      url('./fonts/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
}
body {
  font-family: 'BahijRegular';
}
a {
  font-family: 'BahijRegular';
}